* {
  margin: 0%;
  padding: 0%;
}

h1 {
  font-size: 30px;
  letter-spacing: 5px;
  color: white;

  line-height: 200px;

  text-shadow: 0 0 10px aqua, 0 0 20px aqua, 0 0 40px aqua, 0 0 80px aqua;

  animation: text1 5s linear infinite;

  text-align: center;

  /* display: flex;
  justify-content: center;
  align-items: center; */
}

h3 {
  font-size: 20px;
  color: aqua;
  letter-spacing: 10px;
  text-align: center;
  line-height: 200%;

  text-shadow: 0 0 10px aqua, 0 0 20px aqua;
}

body {
  background-image: url(./272eba10d6347c017f7f20b330a9f274e5efcb34.jpg);
  background-position: center;
}

ul {
  list-style-type: none;
}

li.project-li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  overflow: hidden;
  padding: 15px;

  height: 40px;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: azure;
}

.project-a:hover {
  color: chocolate;
  font-size: 25px;
  transition: 0.5s;
}

.project-a:active {
  color: yellow;
  transition: 0s;
}
#bilibili-index {
  width: 20px;

  position: absolute;
  left: 10px;
  top: 10px;
}

#bilibili-index-div {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 20%);

  position: relative;
  margin: 0 auto;
}

.project {
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 20%);
  margin: 100px;
  margin-left: 20%;
  margin-right: 20%;
  overflow: hidden;
}
#project-hr1 {
  opacity: 0.5;
}

@keyframes text1 {
  to {
    filter: hue-rotate(360deg);
  }
}
